.nav {
  position: fixed;
  min-width: 200px;
  min-height: 100%;
  background-color: $color-bg-menu-train;
  box-shadow: 0 0px 11px rgba(0, 0, 0, 0.5);
  left: -200px;
  transition-duration: .8s;
  z-index: 1;
}

.nav-active {
  left: 0%;
  transition-duration: .8s;
}

.nav-active-play {
  background-color: $color-bg-menu-play;
}


.navigation {
  margin-top: 60%;
  margin-left: 23%;
}

.navigation_menu {
  margin-bottom: 5px;
}

.navigation-links {
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
}

.navigation-links_active {
  text-decoration: underline;
}
