.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__container {
  display: flex;
  margin: 5% -1%;
  flex-wrap: wrap;
  max-width: 920px;
}

.category {
  position: absolute;
  top: -10px;
  left: 600px;
}

.category_text {
  color: $color-switch-train;
  font-size: 3rem;
}
.category_text-play {
  color: $color-switch-play;
}

.card {
  width: 180px;
  height: 270px;
  margin-right: 50px;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition-duration: 1s;
}

.card_image {
  width: 100%;
  height: 200px;
  border-radius: 7px 7px 0px 0px;
  box-shadow: 0 6px 5px rgba(0,0,0,.2);
  object-fit: cover;
  z-index: -1;
}

.card_description {
  margin-top: 20px;
  z-index: -1;
}

.card_text {
  padding-left: 70px;
  font-weight: bold;
  color: white;
}

.card_correct {
  .card_image {
    opacity: 0.5;
    cursor: no-drop;
  }
}


.rotate-card {
  width: 23px;
  margin-left: 38px;
}

.front {
  transform: rotateY(0deg);
  transition-duration: .5s;
  backface-visibility: hidden;
  background-color: $color-switch-train;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: 0 6px 5px rgba(0,0,0,.5);
}

.back {
  transform: rotateY(180deg);
  position: relative;
  top: -271px;
  transition-duration: .5s;
  backface-visibility: hidden;
  background-color: $color-switch-train;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: 0 6px 5px rgba(0,0,0,.5);
}


.translate {
  .front {
    transform: rotateY(180deg);
  }
  .back {
    transform: rotateY(0deg);
  }
}


.card_play {
  overflow: hidden;
  &.card {
    height: 200px;
    transition-duration: 1s;
    border-radius: 7px;
    box-shadow: 0 6px 5px rgba(0,0,0,.5);
  }
  .back {
    display: none;
  }
  .card_description {
    display: none;
  }
}